
.DS_Store
resume/.DS_Store
resume/source/abstracts.aux
resume/source/abstracts.bbl
resume/source/abstracts.bib
resume/source/abstracts.blg
resume/source/conferences.aux
resume/source/conferences.bbl
resume/source/conferences.bib
resume/source/conferences.blg
resume/source/conferencetalk.aux
resume/source/invitedtalk.aux
resume/source/journal.aux
resume/source/journal.bbl
resume/source/journal.bib
resume/source/journal.blg
resume/source/journal.log
resume/source/patentsissued.aux
resume/source/patentsissued.bbl
resume/source/patentsissued.bib
resume/source/patentsissued.blg
resume/source/patentsissued.log
resume/source/patentspublished.aux
resume/source/patentspublished.bbl
resume/source/patentspublished.bib
resume/source/patentspublished.blg
resume/source/patentspublished.log
resume/source/PKRana_CV.aux
resume/source/PKRana_CV.bbl
resume/source/PKRana_CV.blg
resume/source/PKRana_CV.fdb_latexmk
resume/source/PKRana_CV.fls
resume/source/PKRana_CV.log
resume/source/PKRana_CV.ltx
resume/source/PKRana_CV.out
resume/source/PKRana_CV.pdf
resume/source/PKRana_CV.synctex.gz
resume/source/PKRana_CV.tex
resume/source/preprint.log
resume/source/preprints.aux
resume/source/preprints.bbl
resume/source/preprints.bib
resume/source/preprints.blg
resume/source/technical.aux
resume/source/technical.bbl
resume/source/technical.bib
resume/source/technical.blg
resume/source/technical.log
resume/source/technicaldemo.aux
resume/source/theses.aux
resume/source/theses.bbl
resume/source/theses.bib
resume/source/theses.blg
talks/.DS_Store
talks/Rana06_IITKharagpur.pdf
talks/Rana08_FEL3300.pdf
talks/Rana08_IITKharagpur_v0.pdf
talks/Rana08_IITKharagpur_vf.pdf
talks/Rana08_Risø_DTU.pdf
talks/Rana10_EQ2800.pdf
talks/Rana10_FDD3315_\#10.pdf
talks/Rana10_FDD3315_\#4.pdf
talks/Rana10_MMSP.pdf
talks/Rana11_ACCESS.pdf
talks/Rana11_EUSIPCO.pdf
talks/Rana11_EUSIPCO_KTH.pdf
talks/Rana11_FEO3110_KTH.pdf
talks/Rana12_EM3210_PA\#1.pdf
talks/Rana12_EM3210_PA\#2.pdf
talks/Rana12_ISM.pdf
talks/Rana13_CommTheory_KTH.pdf
talks/Rana13_CommTheory_KTH_v1.pdf
talks/Rana13_ICASSP.pdf
talks/Rana13_ICASSP_KTH.pdf
talks/Rana14_3DTVCON.pdf
talks/Rana14_TobiiRGT.pdf
talks/Rana15_TobiiDB.pdf
talks/Rana18_TobiiVRPM.pdf
talks/Rana19_TobiiDB.pdf
talks/source/.DS_Store
talks/source/Rana0611XX_IITKharagpur.ppt
talks/source/Rana08-11_ERICSSON/.DS_Store
talks/source/Rana08-11_ERICSSON/20081024/.DS_Store
talks/source/Rana08-11_ERICSSON/20081024/Multiview Imaging.pdf
talks/source/Rana08-11_ERICSSON/20081024/Multiview Imaging.ppt
talks/source/Rana08-11_ERICSSON/20081209/Multi-resolution View Synthesis.pdf
talks/source/Rana08-11_ERICSSON/20081209/Multi-resolution View Synthesis.ppt
talks/source/Rana08-11_ERICSSON/20090116/Next Steps.pdf
talks/source/Rana08-11_ERICSSON/20090116/Next Steps.pptx
talks/source/Rana08-11_ERICSSON/20090220/Implementation of DCVF.pdf
talks/source/Rana08-11_ERICSSON/20090220/Implementation of DCVF.ppt
talks/source/Rana08-11_ERICSSON/20090220/Progress.ppt
talks/source/Rana08-11_ERICSSON/20090220/Progress.pptx
talks/source/Rana08-11_ERICSSON/20090327/20090327.pdf
talks/source/Rana08-11_ERICSSON/20090327/27_March_2009.pptx
talks/source/Rana08-11_ERICSSON/20090605/05_06_2009.pdf
talks/source/Rana08-11_ERICSSON/20090605/05_06_2009.pptx
talks/source/Rana08-11_ERICSSON/20090605/15_05_2009.pptx
talks/source/Rana08-11_ERICSSON/20090910/.DS_Store
talks/source/Rana08-11_ERICSSON/20090910/10_09_2009.pptx
talks/source/Rana08-11_ERICSSON/20090910/20090910.pdf
talks/source/Rana08-11_ERICSSON/20091217/2009_12_02.pdf
talks/source/Rana08-11_ERICSSON/20091217/2009_12_02.pptx
talks/source/Rana08-11_ERICSSON/20091217/2009_12_02_part_1.pdf
talks/source/Rana08-11_ERICSSON/20091217/2009_12_02_part_1.pptx
talks/source/Rana08-11_ERICSSON/20100114/20100114.pdf
talks/source/Rana08-11_ERICSSON/20100114/2010_01_14.pptx
talks/source/Rana08-11_ERICSSON/20100622/.DS_Store
talks/source/Rana08-11_ERICSSON/20100915/2010-09-15.pdf
talks/source/Rana08-11_ERICSSON/20100915/2010-09-15.pptx
talks/source/Rana08-11_ERICSSON/20101016/.DS_Store
talks/source/Rana08-11_ERICSSON/20110502/.DS_Store
talks/source/Rana08-11_ERICSSON/20110502/2011-05-02.pdf
talks/source/Rana08-11_ERICSSON/20110502/2011-05-02.pptx
talks/source/Rana08-11_ERICSSON/20110916/2011-05-02_Results.pptx
talks/source/Rana08-11_ERICSSON/20110916/2011-09-16.pptx
talks/source/Rana08-11_ERICSSON/20110916/20110916.pdf
talks/source/Rana08-11_ERICSSON/20110916/Results.pptx
talks/source/Rana08-11_ERICSSON/20110923/2011-09-23.pptx
talks/source/Rana08-11_ERICSSON/20110923/20110923.pdf
talks/source/Rana08-11_ERICSSON/20110923/cInfo.pdf
talks/source/Rana080513_IITKharagpur.ppt
talks/source/Rana0805XX_IITKharagpur.ppt
talks/source/Rana10_EQ2800/.DS_Store
talks/source/Rana10_EQ2800/bma_v0.eps
talks/source/Rana10_EQ2800/h264_v0.eps
talks/source/Rana10_EQ2800/kalman_v2.eps
talks/source/Rana10_EQ2800/kalman_v3.eps
talks/source/Rana10_EQ2800/mv_v0.eps
talks/source/Rana10_EQ2800/Rana101022_EQ2800.tex
talks/source/Rana10_EQ2800/video_frames_v0.eps
talks/source/Rana11_EUSIPCO.pptx
talks/source/Rana11_EUSIPCO_KTH.pptx
talks/source/Rana12_EM3210_PA\#1/CRLB_&_EMSE_vs_L_for_different_N.eps
talks/source/Rana12_EM3210_PA\#1/CRLB_&_EMSE_vs_N.eps
talks/source/Rana12_EM3210_PA\#1/CRLB_&_EMSE_vs_SNR_for_different_N.eps
talks/source/Rana12_EM3210_PA\#1/Rana120131_EM3210_PA\#1.tex
talks/source/Rana12_EM3210_PA\#2/fig1.eps
talks/source/Rana12_EM3210_PA\#2/fig3.eps
talks/source/Rana12_EM3210_PA\#2/Rana120308_EM3210_PA\#2.tex
talks/source/Rana12_ISM.pptx
talks/source/Rana13_CommTheory.pptx
talks/source/Rana13_ICASSP.pptx
talks/source/Rana13_ICASSP_KTH.pptx
talks/source/Rana14_Tobii.tex
talks/source/Rana15_TobiiDB.pptx
talks/source/Rana18_TobiiVRPM.pptx
talks/source/Rana19_TobiiDB.pptx
talks/source/Rana20080707_Risø_DTU/.DS_Store
talks/source/Rana20080707_Risø_DTU/Antarctica sea ice 020701-050701.avi
talks/source/Rana20080707_Risø_DTU/Antarctica sea ice prediction results.wmv
talks/source/Rana20080707_Risø_DTU/Rana20080707_Risø_DTUppt.ppt
resume/.DS_Store
.DS_Store
/resume/modern
/publications/posters
/publications/posters
/publications/talks
publications/posters/.DS_Store
publications/posters/Parthasarathy12_3DTVCON_Poster.pdf
publications/posters/Rana10_MMSP_Poster.pdf
publications/posters/Rana12_EUSIPCO_Poster.pdf
resume/.DS_Store
resume/alta/altacv.cls
resume/alta/altacv.log
resume/alta/missfont.log
resume/alta/pdfa.xmpi
resume/alta/PravinKumarRanaCV.aux
resume/alta/PravinKumarRanaCV.bbl
resume/alta/PravinKumarRanaCV.bcf
resume/alta/PravinKumarRanaCV.blg
resume/alta/PravinKumarRanaCV.log
resume/alta/PravinKumarRanaCV.out
resume/alta/PravinKumarRanaCV.pdf
resume/alta/PravinKumarRanaCV.run.xml
resume/alta/PravinKumarRanaCV.synctex.gz
resume/alta/PravinKumarRanaCV.tex
resume/alta/pubs-num.cfg
resume/bibliography/conference-abstracts.bib
resume/bibliography/patent-issued.bib
resume/bibliography/patent-published.bib
resume/bibliography/preprints.bib
resume/bibliography/refreed-conferences.bib
resume/bibliography/refreed-journals.bib
resume/bibliography/tech-reports.bib
resume/bibliography/theses.bib
resume/deedy/deedy-cover.cls
resume/deedy/deedy-resume-openfont.cls
resume/deedy/deedy-resume.cls
resume/deedy/fonts/lato/Lato-Bla.ttf
resume/deedy/fonts/lato/Lato-BlaIta.ttf
resume/deedy/fonts/lato/Lato-Bol.ttf
resume/deedy/fonts/lato/Lato-BolIta.ttf
resume/deedy/fonts/lato/Lato-Hai.ttf
resume/deedy/fonts/lato/Lato-HaiIta.ttf
resume/deedy/fonts/lato/Lato-Lig.ttf
resume/deedy/fonts/lato/Lato-LigIta.ttf
resume/deedy/fonts/lato/Lato-Reg.ttf
resume/deedy/fonts/lato/Lato-RegIta.ttf
resume/deedy/fonts/raleway/Raleway-Bold.otf
resume/deedy/fonts/raleway/Raleway-ExtraBold.otf
resume/deedy/fonts/raleway/Raleway-ExtraLight.otf
resume/deedy/fonts/raleway/Raleway-Heavy.otf
resume/deedy/fonts/raleway/Raleway-Light.otf
resume/deedy/fonts/raleway/Raleway-Medium.otf
resume/deedy/fonts/raleway/Raleway-Regular.otf
resume/deedy/fonts/raleway/Raleway-SemiBold.otf
resume/deedy/fonts/raleway/Raleway-Thin.otf
resume/deedy/pkrana_letter_2025.tex
resume/deedy/pkrana_resume_2025.aux
resume/deedy/pkrana_resume_2025.bbl
resume/deedy/pkrana_resume_2025.bcf
resume/deedy/pkrana_resume_2025.blg
resume/deedy/pkrana_resume_2025.log
resume/deedy/pkrana_resume_2025.out
resume/deedy/pkrana_resume_2025.pdf
resume/deedy/pkrana_resume_2025.run.xml
resume/deedy/pkrana_resume_2025.synctex.gz
resume/deedy/pkrana_resume_2025.tex
resume/deedy/pubs-num.cfg
resume/source/.DS_Store
resume/source/.DS_Store
/resume/source
